#main {
  height: 100vh;
}
#main > #content {
  display: flex;
  overflow-y: hidden !important;

  padding-bottom: 4rem;
  z-index: 0;

  /* min-height: 90vh !important; */
}
.App.container {
  /* overflow-x: hidden; */
}
[draggable="true"] {
  z-index: 99999;
  border-color: red;
  background-color: yellow !important;
}
.isDraggingOver {
  border: solid 1px red !important;
}
